
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <!----nav bar-->
<div class="container" style="padding-bottom: 2px;">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
<a href="#" class="navbar-brand" style="color: blueviolet;font-family:'Kaushan Script',cursive;">FOOD MAD</a>
</div>
<div class="collapse navbar-collapse" id="bs-nav-demo">

<div class="nav navbar-nav navbar-right">
<li class="dropdown" *ngIf="loginButtonVisible">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: yellow;">Register <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a  style="background-color: purple; color: yellow;" data-target="#registerModal" data-toggle="modal">Register As Customer</a></li>
    <li><a  style="background-color: purple; color: yellow;" data-toggle="modal" data-target="#registerSecurityModal">Register As Employee</a></li>
  </ul>
</li>
  <li *ngIf="loginButtonVisible"><a href="#" style="color: yellow;" data-target="#loginUserModal" data-toggle="modal">Login</a></li>
  <li *ngIf="!loginButtonVisible"><a href="#" style="color: yellow;" data-target="#logoutUserModal" data-toggle="modal">Logout</a></li>

</div>
</div>
</div>
</nav>

<!----Registration Modal---->
<div class="modal" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
  <div class="modal-dialog modal-sm">
  <div class="modal-content">
  
  <div class="modal-header" style="background-color: black;">
  <button type="button" class="close" data-dismiss="modal" (click)="onClose()" aria-label="Close" style="color: yellow;">
  <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title" id="modalLabelLarge" style="text-align: center; color: yellow; font-family: Segoe Script;"><b>Register Here</b></h4>
  </div>
  <!-----Accordion--->
  <div class="modal-body">
    <form [formGroup]="registrationForm" (ngSubmit)="onRegister()">
      
      <ul uk-accordion active=0>
        <li class="uk-open">
            <a class="uk-accordion-title" href="#" style="color: black; font-size: 20px; font-family: Comic Sans MS;"> Details</a>
            <div class="uk-accordion-content">
                
                  <div class="form-group">
                    <label for="username">Name</label>
                    <input type="text" class="form-control" formControlName="userName" name="userName" placeholder="Please Enter Name">
                  </div>
                  <div *ngIf="(registrationForm.get('userName').invalid && registrationForm.get('userName').touched)">
                  <p style="color: red;">Please Enter User Name</p>

                  </div>
                  <div class="form-group">
                    <label for="emailaddress">Email Address</label>
                    <input type="email" class="form-control" name="emailAddress" formControlName="emailAddress" placeholder="Please Enter Email Address">
                  </div>
                  <div *ngIf="(registrationForm.get('emailAddress').errors?.required && registrationForm.get('emailAddress').touched)">
                    <p style="color: red;">Please enter Email Address</p>
                  </div>
                  <div *ngIf="(!registrationForm.get('emailAddress').errors?.required && registrationForm.get('emailAddress').errors?.email)">
                    <p style="color: red;">Please enter valid Email Address</p>
                  </div>
                  
                  <div class="form-group">
                    <label for="mobilenumber">Mobile Number</label>
                    <input type="text" class="form-control" name="mobileNumber" maxlength="10"  formControlName="mobileNumber" placeholder="Please Enter Mobile Number">
                  </div>
                  <div *ngIf="(registrationForm.get('mobileNumber').errors?.required && registrationForm.get('mobileNumber').touched)">
                    <p style="color: red;">Please enter Mobile Number</p>
                  </div>
                  <div *ngIf="(!registrationForm.get('mobileNumber').errors?.required && registrationForm.get('mobileNumber').errors?.minlength)">
                    <p style="color: red;">Please enter valid Mobile Number</p>
                  </div>
                
            </div>
        </li>
        <li>
            <a class="uk-accordion-title" href="#" style="color: black; font-size: 20px; font-family: Comic Sans MS;">Address</a>
            <div class="uk-accordion-content">
              <div class="form-group">
                <label for="statelist">State</label>
                <select class="form-control" name="stateList" formControlName="stateList">
                  <option [value]=null selected>Select State</option>
                  <option *ngFor="let stateitem of stateOfIndia" [value]="stateitem">{{stateitem}}</option>
                </select> 
              </div>
              <div class="form-group">
                <label for="cityname">City</label>
                <input type="text" class="form-control" name="cityName" formControlName="cityName" placeholder="Please Enter City">
              </div>
              <div *ngIf="(registrationForm.get('cityName').errors?.required && registrationForm.get('cityName').touched)">
                <p style="color: red;">Please enter City Name</p>
              </div>

              <div class="form-group">
                <label for="pincode">Pincode</label>
                <input type="text" class="form-control" name="pinCode" formControlName="pinCode" placeholder="Please Enter PinCode">
              </div>
              <div *ngIf="(registrationForm.get('pinCode').errors?.required && registrationForm.get('pinCode').touched)">
                <p style="color: red;">Please enter PinCode</p>
              </div>

              <div class="form-group">
                <label for="flatno">House No. & Name</label>
                <input type="text" class="form-control" name="flatNo" formControlName="flatNo" placeholder="Please Enter House No.">
              </div>
              <div *ngIf="(registrationForm.get('flatNo').errors?.required && registrationForm.get('flatNo').touched)">
                <p style="color: red;">Please enter Flat No</p>
              </div>
            
            </div>
        </li>
        <li>
            <a class="uk-accordion-title" href="#" style="color: black; font-size: 20px; font-family: Comic Sans MS;">Password</a>
            <div class="uk-accordion-content">
              <div class="form-group">
                <label for="userpassword">Password</label>
                <input type="password" class="form-control"  formControlName="userPassword" name="userPassword" placeholder="Please Enter Password">
              </div>
              <div *ngIf="(!registrationForm.get('userPassword').errors?.required && registrationForm.get('userPassword').errors?.minlength)">
                <p style="color: red;">Please enter valid Password</p>
              </div>

              <div class="form-group">
                <label for="confirmpassword">Confirm Password</label>
                <input type="password" class="form-control" formControlName="confirmPassword" name="confirmPassword" placeholder="Please Confirm Password">
              </div>
              <div *ngIf="(registrationForm.errors?.mismatchPassword && registrationForm.get('confirmPassword').touched)">
                <p style="color: red;">Password Mismatch</p>
              </div>
            </div>
            

        </li>

    </ul>
      <br>
      <button type="submit" class="btn btn-success"  style="margin-left: 55px;" [disabled]="!registrationForm.valid">Register</button>
      <button type="button" class="btn btn-success" style="margin-left: 10px;" (click)="onReset()">Reset</button>
      <div *ngIf="emailError">
        <p style="color: red; font-size: small;">{{emailError}}</p>
      </div>
      <div *ngIf="registrationMessage">
        <p style="color: green; font-size: small; margin-left: 40px;">{{registrationMessage}}</p>
      </div>
    </form>
  </div>
  
  </div>
  </div>
  </div>

  <!-----Register Security Modal-->
  <div class="modal" id="registerSecurityModal" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
    <div class="modal-dialog modal-sm">
    <div class="modal-content">
    
    <div class="modal-header" style="background-color: black;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: yellow;">
    <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="modalLabelLarge" style="text-align: center; color: yellow; font-family: Segoe Script;"><b>Employee Authentication</b></h4>
    </div>
    <div class="modal-body">

      <div *ngIf="!userVerified; else yesVerified">
        <div class="form-group">
          <label for="securitypin">Enter Security Pin</label>
          <input type="text" [(ngModel)]="securityNumber" class="form-control" name="securityPin">
  
        </div>
        <button type="button" (click)="userVerification()" class="btn btn-success">Verify</button>  
      <div *ngIf="count>=1">
        <p>Security Pin is not correct</p>
      </div>
      </div>
      
      <ng-template #yesVerified>
        <p style="text-align: center;">Successful Authentication</p>
        <button type="button" class="btn btn-success"   data-target="#registerModal" data-toggle="modal" data-dismiss="modal" style="margin-left: 90px;">Register</button>
      </ng-template>
      </div>
      </div>
      </div>
    </div>

<!----Login Registration-->
<div class="modal" id="loginUserModal" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
  <div class="modal-dialog modal-sm">
  <div class="modal-content">
  
  <div class="modal-header" style="background-color: black;">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: yellow;">
  <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title" id="modalLabelLarge" style="text-align: center; color: yellow; font-family: Segoe Script;"><b>Login</b></h4>
  </div>
  <div class="modal-body">

    <div *ngIf="loginVisible">

    
    <form [formGroup]="userLoginForm" (ngSubmit)="onLogin()">
    <!--<div *ngIf="!userVerified; else yesVerified">--->
      <div class="form-group">
        <label for="loginuserid">Enter User Id</label>
        <input type="email" class="form-control" formControlName="loginUserId" name="loginUserId" placeholder="Please enter Email Address">
      </div>
      <div *ngIf="(userLoginForm.get('loginUserId').errors?.required && userLoginForm.get('loginUserId').touched)">
        <p style="color: red;">Please enter Email Address</p>
      </div>
      <div *ngIf="(!userLoginForm.get('loginUserId').errors?.required && userLoginForm.get('loginUserId').errors?.email)">
        <p style="color: red;">Please enter valid Email Address</p>
      </div>
      <div class="form-group">
        <label for="loginpassword">Enter Password</label>
        <input type="password" class="form-control" formControlName="loginPassword" name="loginPassword" placeholder="Please enter Password">
      </div>
      <div *ngIf="(userLoginForm.get('loginPassword').errors?.required && userLoginForm.get('loginPassword').touched)">
        <p style="color: red;">Please enter Password</p>
      </div>
      <button type="submit" class="btn btn-success" style="margin-left: 55px;" [disabled]="!userLoginForm.valid">Login</button>
      <button type="button" class="btn btn-success" (click)="onLoginReset()" style="margin-left: 10px;">Reset</button>  
      <br>
      <a data-target="#forgetPasswordModal"  data-dismiss="modal" data-toggle="modal" style="color: black; margin-left: 50px; margin-top:20px; font-size:14px;"><b>Forget Password</b></a>
    </form>
    </div>
    <br>
    <div *ngIf="userPasswordMessage">
      <p style="color: red; margin-left: 50px; margin-top: 15px;">{{userPasswordMessage}}</p>
    </div>
    <div *ngIf="loginErrorMessage">
      <p style="color: red; margin-left: 50px; margin-top: 15px;">{{loginErrorMessage}}</p>
    </div>
    <div *ngIf="loginSuccessMessage">
      <p style="color: green; margin-left: 80px; margin-top: 14px; "><b>{{loginSuccessMessage}}</b></p>
      <button type="button" class="btn btn-success" data-dismiss="modal" style="margin-left: 95px;">Close</button>
    </div>
    </div>
    </div>
    </div>
    </div>
    <!----------------Logout Page----------------------------------------------------------------------->
    <div class="modal" id="logoutUserModal" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
      <div class="modal-dialog modal-sm">
      <div class="modal-content">
      
      <div class="modal-header" style="background-color: black;">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: yellow;">
      <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="modalLabelLarge" style="text-align: center; color: yellow; font-family: Segoe Script;"><b>Login</b></h4>
      </div>
      <div class="modal-body">
    
        <p><b>Are you sure,You want to Logout?</b></p>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="onLogout()"  style="margin-left: 40px; margin-top: 30px;">OK</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" style="margin-left: 10px; margin-top: 30px;">Cancel</button>
        
        </div>
        
        
        
        </div>
        </div>
        </div>
    

 <!----Forget Password-->   
 <div class="modal" id="forgetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
  <div class="modal-dialog modal-sm">
  <div class="modal-content">
  
  <div class="modal-header" style="background-color: black;">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: yellow;">
  <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title" id="modalLabelLarge" style="text-align: center; color: yellow; font-family: Segoe Script;"><b>Reset Password</b></h4>
  </div>
  <div class="modal-body">

    

    
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="onForget()">
    <!--<div *ngIf="!userVerified; else yesVerified">--->
      <div class="form-group">
        <label for="forgetuserid">Enter User Id</label>
        <input type="email" class="form-control" formControlName="forgetUserId" name="forgetUserId" placeholder="Please enter Email Address">
      </div>
      <div *ngIf="(forgetPasswordForm.get('forgetUserId').errors?.required && forgetPasswordForm.get('forgetUserId').touched)">
        <p style="color: red;">Please enter Email Address</p>
      </div>
      <div *ngIf="(!forgetPasswordForm.get('forgetUserId').errors?.required && forgetPasswordForm.get('forgetUserId').errors?.email)">
        <p style="color: red;">Please enter valid Email Address</p>
      </div>
      <div class="form-group">
        <label for="forgetloginpassword">Enter Password</label>
        <input type="password" class="form-control" formControlName="forgetLoginPassword" name="forgetLoginPassword" placeholder="Please enter Password">
      </div>
      <div *ngIf="(forgetPasswordForm.get('forgetLoginPassword').errors?.required && forgetPasswordForm.get('forgetLoginPassword').touched)">
        <p style="color: red;">Please enter Password</p>
      </div>

      
      <button type="submit" class="btn btn-success" style="margin-left: 30px;">Reset Password</button>  
      <button type="button" class="btn btn-success" style="margin-left: 10px; font-size: 17px;" data-target="#loginUserModal" data-dismiss="modal" data-toggle="modal">Login</button>
    </form>
    
    <div *ngIf="forgetPasswordError">
      <p style="color: red; margin-left: 30px; ">{{forgetPasswordError}}</p>
    </div>
    <div *ngIf="forgetPasswordMessage">
      <p style="color: green; margin-left: 30px;">{{forgetPasswordMessage}}</p>
      <br>
      <!--<button type="button" class="btn btn-success" style="margin-left: 25px; font-size: 17px;" data-target="#loginUserModal" data-dismiss="modal" data-toggle="modal">Login</button>-->
    </div>
    
    <br>
    </div>
    </div>
    </div>
    </div>


<!----Image Slider-->
<div uk-slideshow="animation: fade" style="background-color: black; 
padding-bottom: 2px; padding-top: 1px;">

  <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

      <ul class="uk-slideshow-items">
          <li>
              <img src="assets/pizza.jpg" alt="" height="40px" uk-cover>
          </li>
          <li>
              <img src="assets/burger.jpg" alt="" height="60%" uk-cover>
          </li>
          <li>
              <img src="assets/dosa.jpg" alt="" height="60%" uk-cover>
          </li>
          <li>
            <img src="assets/fries.jpg" alt="" height="60%" uk-cover>
        </li>
        <li>
          <img src="assets/noodles.jpg" alt="" height="60%" uk-cover>
      </li>
      <li>
        <img src="assets/samosa.jpg" alt="" height="60%" uk-cover>
    </li>
    <li>
      <img src="assets/Order.jpg" alt="" height="60%" uk-cover (click)="onOrderFood()">
  </li>
          
      </ul>

      <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
      <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

  </div>

  <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>

</div>
<div style="margin-top: 0px; margin-bottom: 0px; background-color: black;">
  <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" style="color: yellow; background-color: black; font-family: Segoe script ; font-size: 20px;" (click)="onOrderFood()"
  >Order Food</button>
</div>
<router-outlet></router-outlet>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!--Font Awesome-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/7.19.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="/__/firebase/7.19.1/firebase-analytics.js"></script>

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>