<div style="background-color: black;">

<a
    style="background-color: black;"
    [routerLink]="['recipe/',index]"
    (click)="onSelected()"
    class="list-group-item clearfix">
<div class="pull-left">
    <h4 class="list-group-item-heading" style="color: blueviolet;"><b>{{recipe.recipeName}}</b></h4>
    <p class="list-group-item-text" style="color: darkorange;">{{recipe.recipeDescription}}</p>
</div>
<span class="pull-right">
    <img
    [src]="recipe.recipeUrl"
    alt="{{recipe.recipeName}}"
    class="img-responsive"
    style="max-height:70px; max-width:100px; min-width: 100px;">
</span>
</a>
</div>