<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body style="background-color: black;">
<app-employee-login></app-employee-login>
<div style="margin-top: 70px;">

<div class="row">
    <div class="col-md-5">
        <app-recipe-list [recipeList]="recipeList"></app-recipe-list>
    </div>
    <div class="col-md-7" style="margin-left: 0px;">
        <app-recipe-detail
        *ngIf="selectedRecipe; else infoText"
        (selectRecipe)="onUpdateRecipe()"
        [recipe]="selectedRecipe"></app-recipe-detail>
        <ng-template #infoText>
            <p style="color: darkorange;">Please select a recipe</p>
        </ng-template>
    </div>
</div>
</div>
</body>

