

<div class="row">
    <div class="col-xs-12">
        <h1 style="margin-left: 95px; font-size: 35px; text-align: center; color: blueviolet;font-family:'Kaushan Script',cursive;">{{recipe._id}}</h1>
    </div>
</div>
<div class="row-scroll">
    <div *ngFor="let recipeList of recipe.recipes">
        <div class="col-xs-8">
            <h4 style="color: chocolate; margin-top: 10px;">{{recipeList.recipeName}}</h4>
        </div>
        <div class="col-xs-4">
            <h4 style="color: chocolate; margin-top: 10px;">{{recipeList.quantity}}</h4>
        </div>

    </div>
    
</div>
<div>
    
</div>
