

<div class="row">
    <div class="col-xs-12">
        <h1 style="margin-left: 95px; font-size: 70px; text-align: center; color: blueviolet;font-family:'Kaushan Script',cursive;">{{recipe.recipeName}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1 style="margin-left: 95px; font-size: 30px; text-align: center; color: rgb(223, 226, 43);font-family:'Kaushan Script',cursive;">{{recipe.recipePrice|currency:'INR'}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h4 style="text-align: center; color: darkorange;font-family:'Kaushan Script',cursive;">{{recipe.recipeDescription|titlecase}}...</h4>
    </div>
</div>
<div class="row" style="margin-top: 10px; margin-left: 40px;">
    <div class="col-xs-12">
        <img
        [src]="recipe.recipeUrl"
        alt="{{recipe.recipeName}}"
        class="img-responsive"
        style="width:530px;height:300px; margin-left: 60px;">
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <button class="btn btn-success" data-toggle="modal" (click)="onUpdateRecipe()" data-target="#updateRecipeModal" style="background-color: yellow; color: black; margin-top: 5px; margin-left: 230px;">Update Recipe</button>
    </div>
    <div class="col-xs-6">
        <button class="btn btn-success"  (click)="onDeleteRecipe()" style="background-color: yellow; color: black; margin-top: 5px; margin-left: 40px;">Delete Recipe</button>
    </div>
</div>

<!--------Add Recipe Modal-->
<!---RecipeModal-->
<div class="modal" id="updateRecipeModal" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
    <div class="modal-dialog modal-xl">
    <div class="modal-content">
    
    <div class="modal-header" style="background-color: black;">
    <button type="button" class="close" data-dismiss="modal" (click)="onReset()" aria-label="Close" style="color: yellow;">
    <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="modalLabelLarge" style="text-align: center; color: yellow; font-family: Segoe Script;"><b>Recipe Form</b></h4>
    </div>
    <div class="modal-body">
    
      
        <form [formGroup]="addRecipeForm" (ngSubmit)="onUpdateRecipe()">
            <div class="form-group">
                <label for="recipename">Recipe Name</label>
                <input type="text" class="form-control" formControlName="recipeName" name="recipeName" placeholder="Please Enter Recipe Name">
            </div>
            <div *ngIf="(addRecipeForm.get('recipeName').invalid && addRecipeForm.get('recipeName').touched)">
                <p style="color: red;">Please Enter Recipe Name</p>
            </div>  
            <div class="form-group">
                <label for="recipeprice">Recipe Price</label>
                <input type="number" class="form-control" formControlName="recipePrice" name="recipePrice" placeholder="Please Enter Recipe Price">
            </div>
            <div *ngIf="(addRecipeForm.get('recipePrice').invalid && addRecipeForm.get('recipePrice').touched)">
                <p style="color: red;">Please Enter Recipe Price</p>
            </div>
            <div class="form-group form-inline">
                <label for="recipeurl">Recipe Image Url</label>
                <br>
                <input type="text" class="form-control set-width" formControlName="recipeUrl" #recipeUrl name="recipeUrl" placeholder="Please Enter Recipe Url">
                <input type="button" value="Preview" class="btn" (click)="onPreview()"  style="margin: 20px;">
            </div>
            <div *ngIf="imagePreview">
                <img [src]="imagePath" alt="Masala Dosa" style="width:530px;height:300px; margin-left: 15px;">
            </div>
            <div *ngIf="(addRecipeForm.get('recipeUrl').invalid && addRecipeForm.get('recipeUrl').touched)">
                <p style="color: red;">Please Enter Recipe Url</p>
            </div>   
            <div class="form-group" style="margin-top: 5px;">
                <label for="recipeDescription">Recipe Description</label>
                <textarea rows="1" class="form-control" maxlength="45" formControlName="recipeDescription" name="recipeDescription" placeholder="Please enter Description"></textarea>
            </div>
            <div *ngIf="(addRecipeForm.get('recipeDescription').invalid && addRecipeForm.get('recipeDescription').touched)">
                <p style="color: red;">Please Enter Recipe Description</p>
            </div> 
            <div class="form-group">
            <div class="custom-control custom-radio">
                    <label class="custom-control-label" for="available">Available</label>
                    <input id="available" type="radio" class="custom-control-input" style="margin-left:10px" value="available" name="recipeAvailable" formControlName="recipeAvailable">
                    
            </div>

            <div class="custom-control custom-radio">
                <label class="custom-control-label" for="notavailable">Not Available</label>
                <input id="notavailable" type="radio" class="custom-control-input" style="margin-left:10px" value="notavailable" name="recipeAvailable" formControlName="recipeAvailable">
                
            </div>

            </div>
            
            <div class="form-group">
                <div class="custom-control custom-radio">
                        <label class="custom-control-label" for="food">Food & dishes</label>
                        <input id="fooddish" type="radio" class="custom-control-input" style="margin-left:10px" value="food & dishes" name="recipeType" formControlName="recipeType">
                        
                </div>
    
                <div class="custom-control custom-radio">
                    <label class="custom-control-label" for="desert">Desert & Drinks</label>
                    <input id="desertdrink" type="radio" class="custom-control-input" style="margin-left:10px" value="drinks & drinks" name="recipeType" formControlName="recipeType">
                    
                </div>
    
                </div>
                 <div>
                 <button class="btn btn-success" type="submit" (click)="onRecipeUpdate()" data-dismiss="modal" style="margin-left: 150px;">Update Recipe</button>
                 <button class="btn btn-success" type="button" style="margin-left: 30px;" (click)="onReset()">Reset</button>
             </div>   
        </form>
        
      
      </div>
      </div>
      </div>
    </div>


